*, *:before, *:after {
  box-sizing: border-box;
}


  body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #333; }
}


.container {
  margin: 0 auto;
  width: 360px;
  background-color: #009688;
}

.android-container {
  width: 360px;
  height: 640px;
  background-color: #009688;
  margin: 0 auto;
  position: relative;
  overflow: scroll;
}

/* try to hide the scrollbar but they are still showing */
.android-container::-webkit-scrollbar {
  display: none; }


/* this element doesn't seem to apply any style */
.android-status-bar {
  width: 360px;
  height: 24px;
  background-color: #455a64; opacity: 54%;
  position: fixed;
  z-index: 1000;
  float: right;

}

.status-bar {
  float: right;
  margin-top: 4px;
  margin-right: 8px;
}

.bus-stop {
  width: 360px;
  height: 60px;
  margin-top: 24px;
  position: fixed;
  background-color: #607d8b;
  z-index: 1000;
}

.stop {
  margin-top: 18px;
  margin-left: 16px;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  position:relative;
}

#icon1 {
  color: #ffffff;
  font-size: 24px;
  margin-left:16px;
}

#icon2 {
  color: #ffffff;
  font-size: 24px;
  float: right;
  display: inline-block;
  margin-right: 16px;
  margin-top: 14px;
}

.list-table {
  width: 360px;
  height: 48px;
  margin-top: -4px;
  background-color: #ffffff;
  margin-right: 16px;
  box-shadow: 0px 2px 3px grey;

}

.left {
  margin-left: 16px;
  margin-top: 16px;
}

.middle {
  margin-top: 16px;
  padding-left: 56px;
}

.right {
  margin-right:16px;
  float: right;
  margin-top: 16px;
}


.list-table-content {
  margin-top: 16px
}

.list-table li {
    display: inline-block;
    font-weight: 500;
}

.line {
  margin-left: 16px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}


/* the border style doesn't seem to work currently */
.lines {
  height: 56px;
  margin-top: 16px;
}

.routes {
  margin-top: 140px;
}



.lines li {
  display: inline-block;
}



.destination {
  margin-left: 36px;
  font-size: 14px;
  padding-top: 5px;
  position: absolute;
  left: 72px;   /* aligning text while spacing is not unified */
  color: #ffffff;

}

.frequency {
  margin-right: 16px;
  padding-top: 3px;
  display: inline-block;
  color: #ffffff;
  float: right;
}

/* after adding either padding or margin this element end up in a different line */
.unit {
  margin-right: 16px;
  color: #ffffff;
  float: right;
  padding-top: 4px;
}



.bound {
  margin-left: 16px;
  padding-top: 8px;
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
}


#icon3 {
  margin-left: 16px;
  margin-top: 8px;
  color: #FFC107;
  font-size: 24px;
  text-shadow: 0px 2px 5px grey;
  display: inline-block;
}

#icon4 {
  margin-left: 16px;
  margin-top: 8px;
  color: #FF5252;
  font-size: 24px;
  text-shadow: 0px 2px 5px grey;
  display: inline-block;
}


/* this section seems to be a bit messed up, elements aren't lining up */

.line-6X {
  padding-bottom: 16px;
}

.abnormal-routes-6X li{
  display: inline-block;
  padding-top: 16px;
  height: 40px;

}

.line-4 {
  margin-top: 8px;
}

.abnormal-routes {
  height: 56px;
  width: 100%;
  padding-top: 8px;
}


#line {
  margin-left: 16px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}


#destination {
  margin-left: 36px;
  font-size: 14px;
  padding-top: 22px;
  position: absolute;
  left: 72px;   /* aligning text while spacing is not unified */
  color: #ffffff;
}


#frequency-na {
  margin-right: 16px;
  margin-top: 4px;
  display: inline-block;
  color: #ffffff;
  float: right;

}


.abnormal-routes li {
  display: inline-block;
}



/*
.resumes {
  margin-right: 16px;
  margin-top: 4px;
  padding-left: : 318px;
  color: #ffffff;
  float: right;
  font-size: 14px;
}
 */

.resumes {
  margin-top: -20px;
  margin-right: 16px;
  padding-left: 318px;
  color: #ffffff;
  float: right;
  font-size: 14px;
}

.time {
  margin-right: 16px;
  color: #ffffff;
  float: right;
  clear: both;
  font-size: 14px;
}

.speical-line {
  width: 100%;
  height: 40px;   /* dense single text line */
}


.abnormal-service {
  margin-left: 16px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
}


hr {
  margin-left: 16px;
  margin-right: 16px;
  border: 0;
  height: .5px;
  background: #ffffff;
}


.bottom-nav-icons {
  padding-top: 16px;
}

.bottom-nav {
     width: 360px;
     height: 48px;
     background-color: black;
     bottom: 0;
     left: 0;
     margin: 0 auto;
   }

   .back {
     margin-left: 66px;
     cursor: pointer;
   }



   .home {
     margin-left: 85px;
     margin-right: 85px;
     cursor: pointer;
   }

   .recent {
       cursor: pointer;
      }
